In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH = "/media/sf_BLOB_STORAGE/Roster/Weekdays/Copy of Drivers and Rosters MON 01.03 to TUE 02.03.xlsx"
df = pd.read_excel(PATH)

In [5]:
if df.columns[0].lower() == "night runs":
    hasNightRuns = df[df.iloc[:, 0].str.lower().eq("day runs")].any(True).values
    if hasNightRuns:
        nightRuns_idx_end = df[df.iloc[:, 0].str.lower().eq("day runs")].index[0]
#       To select Night Df
        nightRuns_df = df.iloc[0:nightRuns_idx_end]
#       
        current_nightRuns_Date = df.columns[-1].date()
        nightRuns_df.loc[:,'Date'] = current_nightRuns_Date
        df2 = df1[df1.columns[[3,2,1,0]]]

nightRuns_df

       NIGHT RUNS MONDAY Unnamed: 2 2021-03-01 00:00:00        Date
0      ADONIS AKL    RLE   CL 98 LU                 NaN  2021-03-01
1      PAUL NEVIN    BR2   CJ 65 PS                 NaN  2021-03-01
2  KEVEN SHEATHER    RL8   XN 62 UD                 NaN  2021-03-01
3     ALAN WALDEN    RED   XN 19 IN                 NaN  2021-03-01
4      PETER DINH    RLR   CG 94 KY                 NaN  2021-03-01