In [4]:
import pandas as pd
import numpy as np

In [5]:
PATH = "/media/sf_BLOB_STORAGE/Roster/Weekdays/Copy of Drivers and Rosters MON 01.03 to TUE 02.03.xlsx"
PATH = "/media/sf_BLOB_STORAGE/Roster/Weekdays/Copy of Drivers and Rosters THU 08.04 to FRI 09.04.xlsx"
df = pd.read_excel(PATH)

In [14]:
# Cpature the date
nightruns_date = df.columns[-1].date()

# Make sure is night runs 
df.columns[0].lower() == "night runs"

True

In [26]:
# df.rename(columns=df.iloc[0], inplace = True)

# To Seperate Day run Frame 
if df[df.iloc[:, 0].str.lower().eq("day runs")].any(True).values:
    
    dayRuns_idx_start = df[df.iloc[:, 0].str.lower().eq("day runs")].index[0]
    day_runs_df = df.iloc[day_runs_idx:]

# When hit the word visy or rocky li or John Justice 
# hasVisy
# hasRockyLI
# hasJohnJustice

    if df[df.iloc[:, 0].str.lower().eq("visy")].any(True).values:
        dayRuns_idx_end = df[df.iloc[:, 0].str.lower().eq("visy")].index[0]
        day_runs_df = df.iloc[dayRuns_idx_start:dayRuns_idx_end]
#         Rename Header
        day_runs_df = day_runs_df.rename(columns=day_runs_df.iloc[0]).drop(day_runs_df.index[0])

day_runs_df

          DAY RUNS    FRIDAY            NaN 2021-04-09 00:00:00
7      JOHNNY RUHR       BR1       XN 75 OS                 NaN
8    TAIT MITCHELL       BR3       XN 06 OJ                 NaN
9     GARY ROBERTS       RL1       CN 41 XN                 NaN
10       ALBERT DO       RL2       XN 23 KQ                 NaN
11      FEKE TUPOU       RL4       XN 81 VB                 NaN
12      LOU MOYLAN       RL5       CG 06 UT                 NaN
13      JOHN FIELD       RL6       XN 62 UD                 NaN
14        ZAC DEAN       RL7       XN 44 QZ                 NaN
15     TOM TE TURE       RL9       BL 82 AG                 NaN
16    VICTOR SINGH       RLD       CL 02 TB                 NaN
17   LEIGH BURGESS       RLH       XN 19 IN                 NaN
18        PHIL LIU       RLI       XN 13 KR                 NaN
19     LUKE BOLAND       RLJ       XN 10 HU                 NaN
20     DAVID RIGHT  HOOK/RLK  XN23UV/XN71FD                 NaN
21      NEIL WHITE       RLP       CH 32 FV                 NaN
22     BEN EDWARDS       SWG       XN 72 MK                 NaN
23    GABBY HEWITT       HYG       CF 48 ED                 NaN
24  JOHN TUBUAITUA       DOY       XN 65 IJ                 NaN
25  JULIAN TAURIMA       FL2       XN 52 IJ                 NaN
26    CHRIS BAILEY       FLG       XN 25 GD                 NaN