In [2]:
import pandas as pd
import numpy as np

In [78]:
PATH_A = "/media/sf_BLOB_STORAGE/Roster/Weekdays/Copy of Drivers and Rosters MON 01.03 to TUE 02.03.xlsx"
PATH_B = "/media/sf_BLOB_STORAGE/Roster/Weekdays/Copy of Drivers and Rosters THU 08.04 to FRI 09.04.xlsx"
df = pd.read_excel(PATH_A)
df

,NIGHT RUNS,MONDAY,Unnamed: 2,2021-03-01 00:00:00
0,ADONIS AKL,RLE,CL 98 LU,NaN
1,PAUL NEVIN,BR2,CJ 65 PS,NaN
2,KEVEN SHEATHER,RL8,XN 62 UD,NaN
3,ALAN WALDEN,RED,XN 19 IN,NaN
4,PETER DINH,RLR,CG 94 KY,NaN
5,DAY RUNS,TUESDAY,NaN,2021-03-02 00:00:00
6,JOHNNY RUHR,BR1,XN 75 OS,NaN
7,TAIT MITCHELL,BR3,XN 06 OJ,NaN
8,GARY ROBERTS,RL1,CN 41 XN,NaN
9,ALBERT DO,RL2,XN 23 KQ,NaN
10,FEKE TUPOU,RL4,CBB 804,NaN
11,LOU MOYLAN,RL5,CF 71 JM,NaN
12,JOHN FIELD,RL6,XN 62 UD,NaN
13,JOHNNY RUHR,RL7,XN 75 OS,NaN
14,TOM TE TURE,RL9,BL 82 AG,NaN
15,VICTOR SINGH,RLD,CL 98 LU,NaN
16,LEIGH BURGESS,RLH,XN 19 IN,NaN
17,PHIL LIU,RLI,XN 13 KR,NaN
18,LUKE BOLAND,RLJ,XN 10 HU,NaN
19,DAVID RIGHT,RLK,XN 71 FD,NaN
20,NEIL WHITE,RLP,CH 32 FV,NaN
21,BEN EDWARDS,SWG,XN 72 MK,NaN
22,GABBY HEWITT,HYG,CF 48 ED,NaN
23,JOHN TUBUAITUA,DOY,XN 65 IJ,NaN
24,JULIAN TAURIMA,FL2,XN 52 IJ,NaN
25,CHRIS BAILEY,FLG,XN 25 GD,NaN
26,RICKY LI,VISY - NIWPR1,CG 94 KY,NaN
27,JOHN JUSTICE,VISY - NIWPR2,BY 46 TO,NaN
28,UNIVERSITY,NaN,NaN,NaN
29,ROB WARD,UOS,XN 76 VB,NaN
30,NATHAN BRACEY,UOS CAMDEN,CQ 64 LO,NaN
31,JOHN JUSTICE,CBK,BY 46 TO,NaN
32,NaN,NaN,NaN,NaN
33,BRED - ABSENT,ZAC - BABY SICK,NaN,NaN
34,THIS WEEK,IN HOSPITAL,NaN,NaN
35,SPARE TRUCKS,(CHECK WHAT NIGHT TRUCKS ARE BACK),NaN,NaN
36,R/L SINGLE,NaN,NaN,NaN
37,R/L BOGEY,CG 06 UT,XN 75 OS,AB40PW
38,OUT OF SERVICE,NaN,NaN,NaN
39,F/L,CM 97 HV,NaN,NaN
40,R/L BOGEY,XN 81 VB,CL 02 TB,NaN
41,R/L SINGLE,XN 97 FC,XPL 658,NaN

In [77]:
# date_of_nightRun = df.columns[-1].date()

# Split Night Runs 
isNightRun = df.columns[0].lower()
isDayRun = df[df.iloc[:, 0].str.lower().eq("day runs")].any(True).values
# may need to add  isDayRun.size > 0:  => since they may return [True] if there is a truthy
isVisy = df[df.iloc[:, 0].str.lower().eq("visy")].any(True).values
# may need to add  .size > 0: 
isRicky = df[df.iloc[:, 0].str.lower().eq("ricky li")].any(True).values
isUOS = df[df.iloc[:, 0].str.lower().eq("university")].any(True).values
isEmptyrow = df.iloc[:,0].isna().values.any()

if isNightRun == "night runs" and isDayRun_idx:
    dayRunStart_idx = df[df.iloc[:, 0].str.lower().eq("day runs")].index[0]
    nightRuns_df = df.iloc[0:dayRunStart_idx]
#     Retrun Dataframe
else:
    print("Night runs doesnt work")
#  Day Runs

if isDayRun:
    dayRunStart_idx = df[df.iloc[:, 0].str.lower().eq("day runs")].index[0]
    if isVisy.size > 0:
        visyStart_idx = df[df.iloc[:, 0].str.lower().eq("visy")].index[0]
        dayRuns_df = df.iloc[dayRunStart_idx:visyStart_idx]
    elif isRicky:
        visyStart_idx = df[df.iloc[:, 0].str.lower().eq("ricky li")].index[0]
        dayRuns_df = df.iloc[dayRunStart_idx:visyStart_idx]
    else:
        print("No Visy Run")
#  Visy
if isVisy.size > 0:
    visyStart_idx = df[df.iloc[:, 0].str.lower().eq("visy")].index[0]
    if isUOS:
        uosStart_idx = df[df.iloc[:, 0].str.lower().eq("university")].index[0]
        visyRuns_df = df.iloc[visyStart_idx:uosStart_idx]
elif isRicky:
    visyStart_idx = df[df.iloc[:, 0].str.lower().eq("ricky li")].index[0]
    if isUOS:
        uosStart_idx = df[df.iloc[:, 0].str.lower().eq("university")].index[0]
        visyRuns_df = df.iloc[visyStart_idx:uosStart_idx]

#  UOS

if isUOS:
    uosStart_idx = df[df.iloc[:, 0].str.lower().eq("university")].index[0]
    if isEmptyrow:
        uosEnd_idx = df[df.iloc[:,0].isna()].index[0]
        uos_df = df.iloc[uosStart_idx:uosEnd_idx]
# uos_df

       NIGHT RUNS      MONDAY Unnamed: 2
28     UNIVERSITY         NaN        NaN
29       ROB WARD         UOS   XN 76 VB
30  NATHAN BRACEY  UOS CAMDEN   CQ 64 LO
31   JOHN JUSTICE         CBK   BY 46 TO